* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 250;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 0px 10px gray;
}

body {
    
    background-color: blanchedalmond;
    

}

.body-tot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

.h-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
}

.h-links a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px;
    color: #F9FAF8;
    font-size: 24px;
}

.footer a {
    text-decoration: none;
    color: #F9FAF8;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    gap: 25px;
}

.header, .top, .footer  {
    background-color: purple;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 50px;
    height: 300px;
}

.top img {
    margin-bottom: 50px;
}

.top-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.top-sub {
    font-size: 20px;
    color: gray;
    padding-bottom: 10px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: #F9FAF8;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
}

.fantasy, .scifi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    overflow: scroll;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    gap: 25px;

}

.title {
    flex-basis: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
}

.book_val {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 50px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.book p {
    text-align: center;
}

.book a {
    margin-left: auto;
    margin-right: auto;
}

.citation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #e5e7eb;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.citation p {
    flex: 0 1 auto;
}

.citation .author {
    font-weight: 800;
    font-size: 20px;
    text-align: right;
  }